<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Linky Linky</title>
    <link rel="stylesheet" href="/css/site.css" type="text/css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>
    <div class="center">
      <h1>Linky Linky</h1>
      <div id="navbar">
        <a href="/">Home</a>
	{{#if user}}
        <a href="/article/add">Add Article</a>
	{{else}}
        <a href="/login">Login</a>
        <a href="/register">Register</a>
	{{/if}}
      </div>
      <hr>
{{{body}}}
      <hr>
      {{#if user}}
      <div id="username">
        <a href="/{{user.username}}">{{user.username}}</a>
      </div>
      {{/if}}
    </div>
  </body>
</html>
