<h2>Login</h2>
{{#if message}}
<div class="error">{{ message }}</div>
{{/if}}
<form method="POST">
	<div>
		<label for="email">Email:</label>
		<input type="email" name="email" required autofocus>
	</div>
	<div>
		<label for="password">Password:</label> 
		<input type="password" name="password" required>
	</div>
	<div>
		<input type="submit" value="Login">
	</div>
</form>
