<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css">
      body {
        color: white;
        background-color: green;
      }
      button {
        margin-top: 2em;
      }
      div {
        margin: 0 auto;
        text-align: center;
      }
      table {
        margin: 0 auto;
      }
      td {
        text-align: right;
      }
      td.big {
        text-align: left;
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <div>
      <table>
        <tr>
          <td>QR:</td>
          <td class="big">{{qr}}</td>
        </tr>
        <tr>
          <td>Name:</td>
          <td class="big">{{name}}</td>
        </tr>
        <tr>
          <td>MIST ID:</td>
          <td class="big">{{mistid}}</td>
        </tr>
        <tr>
          <td>Signature Sheet:</td>
          <td class="big">Submitted</td>
        </tr>
        <tr>
          <td>Present:</td>
          <td class="big">Already Present</td>
        </tr>
      </table>
      <form method="POST">
        <button disabled>MARK PRESENT</button>
      </form>
    </div>
  </body>
</html>